body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 2.5vh;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.header li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header li p {
  margin: 1px;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: blue;
  color: white;
  padding: 0;
  margin: 0;
  height: 5vh;
}

.nav li {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav li a:hover {
  color: white;
}

.nav li a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.62);
}

.nav-item.active {
  background-color: darkblue;
}

.nav-item.active a {
  color: white;
}

.link-button {
  display: flex;
  margin: 10px;
  color: white;
  background-color: blue;
  border-color: darkblue;
  border-radius: 10%;
  height: 60px;
  width: 120px;
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.link-button:hover {
  background-color: darkblue;
}

.masthead {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  color: white;
  align-items: center;
  background-image: url(masthead.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.masthead div {
  font-weight: normal;
  text-shadow: black 1px 1px;
  font-size: 48px;
  margin-top: 20px;
}
